.post-comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--border-primary);
  padding-bottom: 16px;

  .post-comment-header {
    display: flex;
    gap: 4px;

    .post-comment-info {
      display: flex;
      flex-direction: column;
      gap: 2px;

      span:last-child {
        color: var(--color-muted);
      }
    }
  }

  .post-comment-body {
    margin: 0;
  }
}
