@import "normalize.css";

body {
  height: 100vh;
  font-family: var(--font-family-primary), serif;
}

:root {
  --font-family-primary: 'Inter', system-ui, -apple-system, sans-serif;
  --font-family-secondary: 'Poppins', system-ui, -apple-system, sans-serif;

  --color-primary: #1B2037;
  --color-inverse: #FFFFFF;
  --color-muted: #667085;

  --bg-primary: #FAFAFA;

  --button-hover: #08B94E;
  --button-pressed: #6236CC;
  --button-pressed-border: #F2EDFF;
  --button-disabled: #BCC3E3;
  --button-disabled-border: #9DA6CB;

  --toggle-bg: #F0F1F3;
  --toggle-bg-active: #151A2D;

  --color-accent: #FF8811;
  --color-danger: #FF554A;
}

[data-theme="dark"] {
  --color-primary: #FFFFFF;
  --color-inverse: #1B2037;
  --color-muted: #8791B7;

  --bg-primary: #1B2037;
  --bg-secondary: #0E1223;
  --bg-border: #384162;
}