.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  width: 95%;
  padding: 8px;
  background: var(--bg-primary); /* delete in future */

  .post-header {
    display: flex;
    height: 42px;
    gap: 12px;

    .author-avatar {
      border-radius: 50%;
      width: 42px;
      height: 42px;
      object-fit: cover;
    }
  }

  .header-data {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      color: var(--color-primary);
    }
  }

  .post-image {
    border-radius: 4px;
  }

  p {
    margin: 0;
    padding: 0 8px;
  }
}

.post-control {
  display: flex;
  gap: 8px;

  div {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  small {
    font-size: 0.6rem;
  }

  svg {
    width: 1rem;
    height: 1rem;

    path {
      stroke: black;
    }
  }

  .active {
    fill: red;

    path {
      stroke: red;
    }
  }

  .arrow-icon {
    path {
      fill: var(--color-primary);
      stroke: var(--bg-secondary);
    }
  }
}

.post-comments {
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin:0;

  li {
    counter-increment: item;
    margin-bottom: 8px;
    color: var(--color-primary);
    font-size: 0.8rem;
  }

  li::before {
    content: "#" counter(item) ". ";
    color: var(--color-primary);
  }
}

@media(min-width: 400px) {
  .post-control {
    small {
      font-size: 0.8rem;
    }
  }
}