.input-label {
  display: flex;
  flex-direction: column;
  gap:12px;
  width: 320px;
  max-width: 95%;
  font-family: var(--font-family-secondary);
  font-size: 14px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    svg path {
      fill: var(--color-primary);
    }
  }

  input {
    box-sizing: border-box;
    height: 48px;
    width: 320px;
    background: var(--input-bg);
    border: 1px solid var(--input-border);
    padding: 4px 10px;
  }

  input::placeholder {
    color: var(--placehloder-color);
  }

  input:focus{
    outline: none;
    border-color: var(--input-border-active);
  }
}