.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  margin: 10vh auto 0 auto;

  h1{
    font-size: 1.2rem;
    margin: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .auth-form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}