.main-page {
  display: flex;
  flex-direction: column;
  gap:2px;
  align-items: center;
  justify-content: center;
  margin-top:8px;
  color: var(--color-muted);
}

.posts-container{
  width: 100%;
}

@media (min-width: 768px) {
  .main-page {
    margin-top: 16px;
  }
  .posts-container {
    width: auto;
    border: 1px solid var(--input-border);
  }
}

