.main-page {
  display: flex;
  flex-direction: column;
  gap:2px;
  align-items: center;
  justify-content: center;
  color: var(--color-muted);
  margin-bottom: 16px;
}

.posts-container{
  width: 100%;

  .post:last-child{
    border: none;
  }
}

@media (min-width: 768px) {
  .posts-container {
    width: auto;
    border: 2px solid var(--input-border);
  }
}

