.main-page {
  display: flex;
  flex-direction: column;
  gap:2px;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  color: var(--color-muted);
}

.posts-container{
  width: 100%;

  .post:last-child{
    border: none;
  }
}

@media (min-width: 768px) {
  .main-page {
    margin: 16px 0;
  }
  .posts-container {
    width: auto;
    border: 2px solid var(--input-border);
  }
}

