.input-label {
  .password-container {
    position: relative;
  }

  .password-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);

    button {
      background: none;
      border: none;
      width: 24px;
      height: 24px;
      cursor: pointer;

      svg path {
        fill: var(--color-muted);
      }
    }

    button:hover svg path{
      fill: var(--color-primary);
    }
  }
}