.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-secondary), serif;
  background-color: var(--bg-primary);
  height: 48px;
  padding: 12px 24px;
}

.headerLogo {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap:6px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.desktop-nav{
  display: none;
}

@media(min-width: 768px) {
  .desktop-nav{
    display: flex;
  }

  .mobile-nav{
    display: none;
  }
}