.textarea-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap:12px;
  width:100%;
  max-width: calc(100vw - 8px);
  font-family: var(--font-family-secondary);
  font-size: 14px;
  position: relative;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    svg path {
      fill: var(--color-primary);
    }
  }

  textarea {
    box-sizing: border-box;
    min-height: 58px;
    resize: none;
    width: 100%;
    max-width: calc(100vw - 8px);
    background: var(--input-bg);
    border: 1px solid var(--border-primary);
    padding: 10px 10px;
    color: var(--color-primary);
  }

  textarea::placeholder {
    color: var(--placehloder-color);
  }

  textarea:focus {
    outline: none;
    border-color: var(--input-border-active);
  }

  textarea:focus ~ .info {
    display: flex;
  }

  .info {
    position: absolute;
    bottom: -24px ;
    display: none;
    margin-top: 8px;
    gap: 8px;
    color: var(--color-muted);

    svg {
      width: 14px;
      height: 14px;

      path {

        fill: var(--color-muted);
      }
    }
  }
}
